<h1>Listing posts</h1>

<%# writer = "Ben" %>

<%= link_to 'New Post', new_post_path, class: 'btn_newpost' %>

<% @posts.each do |post| %>
   <div class="comment_area"> 
    <h2><%= post.title %></h2>
    <%= post.title %>
    <%= simple_format(truncate(post.body, length: 140, separator: ' ', omission: "...(continued)") + link_to('continue', post)) %>
    <%= link_to(post.author.try(:username), author_path(post.author)) if post.author %>
    <%# post.author.first_name if post.author %>
    <%= post.published_at %>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

    <%# The next line will add the variable in each loop%>
    <%# writer %>
  </div><!--end div comment area-->
<% end %>



