<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Author name:</b>
  <%= link_to(@post.author.try(:username), author_path(@post.author)) if @post.author %> | <%= time_tag(@post.published_at) %>
</p>

<p>
  <b>Published at:</b>
  <%= @post.published_at %>
</p>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
